.block{
    display: flex; 
    justify-content: center;
    width: 100%; 
    padding: 100px 0px; 
    .inner-container{
        width: 100%; 
        max-width: 1200px; 
        padding: 0px 20px; 
    }
    & + .block{
        padding-top: 0px; 
    }
}