.container{
    display: flex;
    justify-content: center;
    width: 100%; 
    .inner-narrow{
        width: calc(100% / 14 * 8); 
    }
    .inner{
        width: calc(100% / 14 * 10); 
    }
    .inner-wide{
        width: calc(100% / 14 * 12); 
    }
}