body.front-end header{
    display: flex; 
    justify-content: center;
    align-items: center; 
    height: 120px; 
    background-color: #f5f5f5;
    .inner-wide{
        display: flex; 
        justify-content: space-between; 
    }
}